SYMFONY_DEBUG=1
SYMFONY_ENV=dev
SYMFONY__database_host=localhost
SYMFONY__database_port=null
SYMFONY__database_user=root
SYMFONY__database_password=null
SYMFONY__database_name=symfony_standart
SYMFONY__mailer_transport=smtp
SYMFONY__mailer_host=127.0.0.1
SYMFONY__mailer_user=null
SYMFONY__mailer_password=null
SYMFONY__webprofiler_intercept_redirects=false
